@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap");

@tailwind base;
@tailwind utilities;
@tailwind components;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@layer base {
  body {
    // background-color: rgba(17, 17, 34, 0.667);
    @apply bg-blue-950 text-white;
  }

  .btn {
    @apply px-4 py-1.5  shadow-sm shadow-slate-300 hover:shadow-none cursor-pointer text-center;

    &:disabled {
      @apply bg-slate-400 cursor-not-allowed;
    }
  }

  a.link {
    @apply underline hover:text-blue-400;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Pixelify Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    & > a {
      text-decoration: none;
      &:hover {
        color: inherit;
      }
    }
  }
}

@layer components {
  .btn-primary {
    @apply bg-blue-400;
  }
}
